# Binaries
*.exe
*.dll
*.so
*.dylib
bin/
dist/

# TypeGo Build Artifacts
.typego_build_tmp/
.typego/

# Go
go.sum
vendor/
go.work
go.work.sum

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
.env
*.test
*.out
coverage.*
*.coverprofile
profile.cov

